body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    user-select: none;
}


.buttons {
    display: grid;
    grid-template-columns: 25%;
    color: white;
    text-align: center;
    width: 500px;
    height: 600px;
    font-size: 50px;
    font-family: sans-serif;
    border: 10px solid black;
    border-radius: 10px;
}

.blue{
    background-color: #353BD7;
}

.pressed{
    background-color: #9EA1E8;
}

#clear {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    border: 1px solid black;

}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 3;
    border: 1px solid black;
    overflow-y:auto;

}

#seven {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    border: 1px solid black;

}

#eight {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    border: 1px solid black;

}

#nine {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    border: 1px solid black;

}

#divide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    grid-column: 4;
    border: 1px solid black;

}

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    border: 1px solid black;

}

#five {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    border: 1px solid black;

}

#six {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    border: 1px solid black;

}

#multiply {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    grid-column: 4;
    border: 1px solid black;

}

#one {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    border: 1px solid black;

}

#two {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    border: 1px solid black;

}

#three {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    border: 1px solid black;

}

#subtract {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    grid-column: 4;
    border: 1px solid black;

}

#zero {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    border: 1px solid black;

}

#decimal {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    border: 1px solid black;

}

#equal {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    border: 1px solid black;

}

#addition {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    grid-column: 4;
    border: 1px solid black;

}